<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email sending app</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div>
        <h1>Email sending App</h1>
        <a href="/send-mail"><button>Send Mails in Bulk</button></a>
    </div>
</body>
</html>