<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>
<body>
    <section>
        <section class="header" style="text-align: center;">
            <img src="https://cdn.shopify.com/s/files/1/0615/1962/6461/files/logo2.png?v=1693072875" alt="" width="100px" style="border-radius: 5px;">
            <h1>Looking for the perfect couple's outfit for your next special 🎉 occasion 🎉? Try our Couple dress set and stand out from the crowd! </h1>
            <h3>🎊Upto 50% off on Couple Sets🎊</h3>
            <h3>Hurry! Shop now and get free Shipping</h3>
        </section>
        <section class="container" style="max-width: 700px;margin: 0 auto;display: flex;width: 100%; justify-content: center;">
            <div style="text-align: center; width: 50%; margin:0 0.2rem;padding-bottom: 8px; border: 1px solid grey; overflow: hidden; border-radius: 10px;" >
                <img src="https://cdn.shopify.com/s/files/1/0615/1962/6461/files/1_77354911-7874-4954-9759-cd8e025459fd.jpg?v=1694582438" alt="image not found" width="100%">
                <p style="height: 50px;">Couple Dress Kanjivaram Silk Saree and Kurta pyjama with Nehru Jacket</p>
                <p><span style="color: grey;text-decoration: line-through;">₹9999</span>&nbsp;<span>₹5999</span></p>
                <a href="https://www.archittam.com/collections/couple-set-dress/products/richie-rich-gold-pista-couple-matching-dress-kanjivaram-silk-saree-and-kurta-pyjama-with-nehru-jacket?utm_source=Email&utm_medium=mails&utm_campaign=EmailMarketing13092023"><button style="background-color: #4287f5; color: white;cursor: pointer;; border: none; border-radius: 10px; padding: 5px 20px;">Buy now</button></a>
            </div>
            <div style="text-align: center; width:50% ;margin:0 0.2rem;; padding-bottom: 8px; border: 1px solid grey; overflow: hidden; border-radius: 10px;">
                <img src="https://cdn.shopify.com/s/files/1/0615/1962/6461/files/2_4f2b58ac-3ce3-4e43-819a-29d080053e2d.jpg?v=1694582438" alt="image not found" width="100%">
                <p style="height: 50px;">Couple Dress Orgenza Silk Saree and Kurta pyjama</p>
                <p><span style="color: grey;text-decoration: line-through;">₹3999</span>&nbsp;<span>₹1999</span></p>
                <a href="https://www.archittam.com/collections/couple-set-dress/products/cutie-haldi-yellow-couple-matching-dress-orgenza-silk-saree-kurta?utm_source=Email&utm_medium=mails&utm_campaign=EmailMarketing130920"><button style="background-color: #4287f5; color: white;cursor: pointer;; border: none; border-radius: 10px; padding: 5px 20px;">Buy now</button></a>
            </div>
        </section>
        <p style="text-align: center;">(for unsubscribe wrtite "STOP" in reply of this email)</p>
    
    </div>
</body>
</html>


